<ion-view ng-init = "calculations()" view-title="Child Detail">
  <ion-content>
    <form>
      <div>
      <h2>{{child.name}} Detail View</h2>
      </div>
      <br>
      <ion-item class="item-divider">
      <div id = "transaction-list">
        <label>Transactions</label>
          <div class = "transaction-list" ng-repeat = "transaction in transactions">
            {{transactions.transactionDate}} {{transations.transactionNotes}} {{transactions.transactionValue}}
          </div>
          <div>Transaction Total = ${{transactionTotal}}</div>
          <br>
        <label>Infractions</label>
          <div class = "infraction-list" ng-repeat = "incident in incidents">
          {{incident.infractionDate}}.....{{incident.infractionName}} .....{{incident.infractionValue}}
          </div>
          <div>Infraction Total = ${{infractionTotal}}</div>
          <div>Balance = ${{workingBalance}}</div>
      </div>

      </ion-item>
    </form>
  </ion-content>
</ion-view>

