<ion-view view-title="Child Detail">
  <ion-content>
    <form>
      <div>
        <h2>{{child.name}}</h2>
        <h3>Balance:  ${{availableBalance}}
      </div>
      <br>
      <ion-item class="item-divider">

        <label>Transactions</label>
        <div id = "detail-list">
        <div class="row header">
          <div class="col">Date</div>
          <div class="col">Notes</div>
          <div class="col">Value</div>
        </div>
        <div class="row" ng-repeat="transaction in transactions">
          <div class="col repeated">{{transaction.transactionDate}}</div>
          <div class="col repeated">{{transaction.transactionNotes}}</div>
          <div class="col repeated">{{transaction.transactionValue}}</div>
        </div>
      </div>
          <div class = "total">Transaction Total = ${{transactionTotal}}</div>
          <br>

        <label>Infractions</label>
          <div id = "detail-list">
          <div class="row header">
            <div class="col">Date</div>
            <div class="col">Incident</div>
            <div class="col">Value</div>
          </div>
          <div class="row" ng-repeat="incident in incidents">
            <div class="col repeated">{{incident.infractionDate}}</div>
            <div class="col repeated">{{incident.infractionName}}</div>
            <div class="col repeated">({{incident.infractionValue}})</div>
          </div>
          <div class = "total">Infraction Total  =  ${{infractionTotal}}</div>
          <br>
        </div>
      </ion-item>
    </form>
  </ion-content>
</ion-view>
