
<ion-view view-title="Future Development">
  <ion-header-bar>
    <h1 class="title">Future Development</h1>
  </ion-header-bar>
  <ion-content>
    <div>
      <p> The list below outlines some of the plans I have to further develop this application to maximize its utility.  If you have suggestions, feel free to email me at : shelleydaviswise@gmail.com </p>
      <ul class = "list">
         <li> -User name and password authorization - originally a working part of the application, I had to remove it for the time being.</li>
         <li> -The ability to edit parameters associated with each child and keep a record of the changes.</li>
         <li> -The ability to delete children from the application.</li>
         <li> -The ability to associate an image with each child.</li>
         <li> - A more dynamic calculation of allowance increment. As it stands, each child's allowance is calculated based on a daily rate multiplied by the static number of days since being added to the app.  I would like the increment to act independently of a static point.  Doing so would allow for easier transition to edited parameters.
      </ul>
    </div>
  </ion-content>
</ion-view>
