<ion-view view-title="Select the Behavior">
  <ion-content>
    <form>
      <div>
      <h2>{{child.name}}</h2>
      </div>
      <br>
      <label>Log Behavior</label>
      <ion-item class="item-divider">
      <div id = "behavior-list">
        <div class = "listofbehaviors">
          <div ng-repeat = 'behavior in behaviorList'>
            <input type = "checkbox" name = '{{behavior.behaviorName}}' ng-model = "behavior.checked" ng-click="behaviorClicked(behavior)"> {{behavior.behaviorName}}       ({{behavior.behaviorValue}})
          </div>
        </div>
      </div>
      </ion-item>
      <button ng-click = "postIncident()" type="submit" class="btn btn-danger btn-lg">Save Incident</button>
    </form>
  </ion-content>
</ion-view>

